mixin tweet(tweet) 
    .tweet-container(data-username=`${tweet.user.username}` data-tweet-id = `${tweet._id}`)
        .tweet
            .tweet__avatar-container
                img.avatar--small.tweet__avatar(src=`/img/users/avatars/${tweet.user.avatar}` alt='User avatar')
            .tweet__info
                .tweet__userdata
                    .tweet__userdisplay
                        p.name.tweet__name #{tweet.user.name}
                        p.username @#{tweet.user.username}
                    p.tweet__date #{tweet.dateTweeted.toLocaleDateString(undefined, {year: 'numeric', month: 'long', day: 'numeric'})}
                p.tweet__content #{tweet.content}
                - if (tweet.image)
                    img.tweet__image(alt = 'tweet image' src = `/img/tweets/${tweet.image}`)

                .tweet__metadata
                    .tweet__data-container.tweet__data-reply-container
                        ion-icon.tweet__data__icon(name='chatbox-outline')
                        p.tweet__data__number #{tweet.replyCounts}
                    - if (tweet.liked)
                        .like-container.tweet__data-container.tweet__data-container--liked(data-like-id=`${tweet.liked}`)
                            ion-icon.tweet__data__icon(name='heart')
                            p.tweet__data__number #{tweet.likeCounts}
                    - else 
                        .like-container.tweet__data-container
                            ion-icon.tweet__data__icon(name='heart-outline')
                            p.tweet__data__number #{tweet.likeCounts}

