extends content 

block append head 
    link(href='/css/profile.css' rel='stylesheet')
    link(rel='stylesheet' href='/css/modal.css')
    link(rel='stylesheet' href='/css/edit_profile.css')
    link(rel='stylesheet' href='/css/confirm_delete.css')
    link(rel='stylesheet' href='/css/change_password.css')
    script(src = '/js/controllers/changePasswordController.js' type = 'module')
    script(src = '/js/controllers/followButtonController.js' type = 'module')
    script(src = '/js/controllers/profileController.js' type = 'module')

block content 
    include _tweet
    .change-password-container.hidden
        .backdrop
        .modal.change-password
            header.change-password__header
                ion-icon.change-password__icon(name='logo-twitter')
                h2.change-password__title Change password
            p.change-password__message Enter your current password and your new password to change your password.
            form.change-password__form
                .change-password__form-item
                    label.change-password__form-label(for='current_password') Current password
                    input#current_password.change-password__form-input.change-password__form-input--currentPassword(type='password' placeholder='●●●●●●●●' required='true')
                .change-password__form-item
                    label.change-password__form-label(for='new_password') New password
                    input#new_password.change-password__form-input.change-password__form-input--newPassword(type='password' placeholder='●●●●●●●●' required='true')
                .change-password__buttons
                    button.btn.btn--submit Submit
                    button.btn.btn--cancel Cancel

    .edit-profile-container.hidden
        .confirm-delete-container.hidden
            .backdrop.confirm-delete-backdrop
            .modal.confirm-delete
                header.confirm-delete__header
                    ion-icon.confirm-delete__icon(name='logo-twitter')
                    h2.confirm-delete__title Delete your account
                p.confirm-delete__message Enter your password again to confirm that you want to delete your account. Please keep in mind that you will not be able to revert this action.
                form.confirm-delete__form
                    .confirm-delete__form-item
                        label.confirm-delete__form-label(for='password') Password
                        input#password.confirm-delete__form-input(type='password' placeholder='●●●●●●●●' required='true')
                    .confirm-delete__buttons
                        button.btn.btn--delete-account Delete my account
                        button.btn.btn--cancel Cancel
                    
        .backdrop
        .modal.edit-profile
            header.edit-profile__header
                ion-icon.edit-profile__close(name='close-outline')
                h2.edit-profile__title Edit profile
                button.btn.btn--save-profile Save
            .edit-profile__images
                .edit-profile__background-container
                    img.edit-profile__background(src='/img/users/backgrounds/default.jpg')
                    label
                    input(type='file' style='display: none')
                    ion-icon.edit-profile__background-change-icon(name='camera-outline')
                .edit-profile__avatar-container
                    img.edit-profile__avatar(src='/img/users/avatars/default.jpg')
                    label
                    input(type='file' style='display: none')
                    ion-icon.edit-profile__avatar-change-icon(name='camera-outline')
                .edit-profile__avatar-spacer
            form.edit-profile__form
                .edit-profile__form-element
                    label.edit-profile__form-label(for='name') Name
                    input#name.edit-profile__form-input.name-input(type='text')
                .edit-profile__form-element
                    label.edit-profile__form-label(for='bio') Bio
                    input#bio.edit-profile__form-input.bio-input(type='text')
                .edit-profile__form-element
                    label.edit-profile__form-label(for='location') Location
                    input#location.edit-profile__form-input.location-input(type='text')
                .edit-profile__form-element
                    label.edit-profile__form-label(for='website') Website
                    input#website.edit-profile__form-input.website-input(type='text')
            button.btn.btn--delete-account.margin-bottom--small Delete account


    .content
        .profile(data-user-id = `${user._id}`)
            .profile__background-container
                img.profile__background(src=`/img/users/backgrounds/${user.background}`)
            .profile__avatar-container
                img.profile__avatar(src=`/img/users/avatars/${user.avatar}`)
                .profile__avatar-container__spacer
            
            - if (isLogInUser)
                button.btn.btn--edit-profile.profile__btn Edit profile
                button.btn.btn--change-password.profile__btn--change-password Change password
            - else if (followed)
                button.btn.btn--unfollow.profile__btn.profile__follow-btn(data-follow-id=`${followed._id}`) Following
            - else 
                button.btn.btn--follow.profile__btn.profile__follow-btn Follow
            .profile__info
                p.profile__name #{user.name}
                p.profile__username.username @#{user.username}
                - if (user.bio)
                    p.profile__bio #{user.bio}
                ul.profile__metadata
                    - if (user.location) 
                        li.profile__metadata-item.proflile__location-container
                            ion-icon(name='location-outline')
                            p.profile__location #{user.location}
                    - if (user.website)
                        li.profile__metadata-item.proflile__website-container
                            ion-icon(name='link-outline')
                            a.profile__website(href=`${user.website}`) #{user.website}

                    li.profile__metadata-item.proflile__date-joined-container
                        ion-icon(name='calendar-outline')
                        p.date-joined__website Joined #{new Date(user.dateJoined).toLocaleDateString({year: 'numeric', month: 'long', day: 'numeric'})}
                ul.profile__follow-info
                    li.profile__follow-info-item
                        p.profile__follow-number.profile__followers-number #{user.followersCount}
                        |                             followers
                    li.profile__follow-info-item
                        p.profile__follow-number #{user.followingsCount}
                        |                             followings
            .profile__content
                .profile__tabs
                    .profile__tab.profile__tab--active.profile__tweets-tab
                        p Tweets
                    .profile__tab.profile__liked-tab
                        p Liked
            .tweets.own-tweets
                - if (tweets.length === 0)
                    p.info This user hasn't tweeted anything yet
                - else
                    each tweet in tweets
                        +tweet(tweet)

            .tweets.liked-tweets.hidden
                - if (likedTweets.length === 0)
                    p.info This user hasn't liked any tweets yet.
                - else
                    each tweet in likedTweets 
                        +tweet(tweet)
               

